#categories
{
	position:fixed;
	margin-left:90px;
}

#containedPage
{
	background-color:white;
	float:right;
}

#customerMenu .fa
{
	margin-right: 10px;
}

#customerMenu .dropdown-menu
{
	margin-top: 20px;
}

#customerContainer
{
	position: relative;
    bottom: 55px;
    margin-bottom: -60px;
    height: 30px;
    margin-right: 50px;
    color:#969696;
}

#customerContainer .btn a
{
	text-decoration: none;
	color:black;
	/*float:right;*/
}

#customerContainer .fa-user
{
	color:#969696;
}

#connexionButtonDiv
{
	position: relative;
    bottom: 15px;
    right: 100px;
    height: 30px;
}

#connexionButtonDiv #connexionButton
{
	position: relative;
    top: 13px
}

#categories .panel-group
{
	margin-bottom: 1px;
}

#collapseCollectives li, #collapseIndividuals li
{
	font-size: 11px;
}

.panel-title a, #cancelButton a
{
	text-decoration: none;
	font-size: 12px;
}

.list-group a
{
	text-decoration: none;
	font-size: 11px;
	color: black;
}

#bannerContainer
{
	padding:20px 20px;
	height:220px;
	background-color: white;
}

.imagesContainer
{
	margin:10px 5px;
	height:220px;
}

.imagesContainer img
{
	height:210px;
	width:100%;
	border-radius: 10px;
	opacity: 1;
}

.curtain
{
	height:210px;
	width:100%;
	background-color: black;
	opacity: 1;
	border-radius: 10px;
}

.curtain a, #commandButton a, #downloadButton a, #emptyProductTableContainer a
{
	color:white;
	text-decoration: none;
}

.curtain p
{
	position:relative;
	top:-185px;
	color:white;
	width:100%;
	text-align: center;
	display:none;
	font-size:15px;
	padding:60px 30px;
}

li.dropdown-toggle
{
	cursor:pointer;
}

.necessary
{
	border-color: #a94442;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.necessary:focus
{
	border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.success
{
	border-color: #48A23E;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.success:focus
{
	border-color: #1A5A16;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #3C9032;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #3C9032;
}

ul.dropdown-menu
{
    margin-right: 75px;
    margin-top: 0px;
}

#customersTable td,#customersTable input,#customersTable select
{
	font-size: small;
}

form input,form textarea,#ordering>select,form select,#customerMenu .divider
{
	margin-bottom: 5px;
}

.edit
{
	display: none;
	margin-top: -5px;
    margin-left: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    font-size: 13px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#importProducts,#deleteMyAccount,#confirmPasswordUpdateButton,#changePassword,.deleteButton,#clearStock,.fa-close
{
	color:#A90000;	
}

#myAccountDisplayContainer
{
	padding:10px 10px;
}

#buttonsContainer
{
	float: right;
}

#importedFile
{
	margin-right: 5px;
	font-size: 13px
}

#errormessage
{
	color:red;
}

td>select
{
	padding:0px;
}

#preview
{
	display: none;
	margin: 10px;
	height: 100px;
	width: 150px;
}

.thumbnail
{
	border-radius: 0px !important;
	box-shadow: 4px 4px 18px;
	height:300px;
}

.thumbnail img
{	
	height:200px;
}

.thumbnail .caption
{	
	height:100px;
}

.availableSizes
{
	float: right;
	margin-top: 5px;
	font-size: 13px;
}

#sizeTable td
{
	margin: 10px;
}

#sizeRow td
{
	text-align: center;
}

#toFillRow input
{
	padding: 7px;
}
/*
.productButton
{
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     border-bottom:1px solid #444; 
     cursor: pointer;
}	*/

#imageContainer
{
	margin: 10px 4px;
	padding: 0px;
}

.shadow450
{
	padding:5px 5px;
	border-radius: 10px;
	box-shadow: 3px 4px 10px #888888;
	height: 450px;
}

#passwordContainer,#deleteMyAccountContainer,.shadow
{
	text-align:center;
	padding:15px 15px;
	border-radius: 10px;
	box-shadow: 3px 4px 10px #888888;
	margin-bottom: 10px;
}

#descriptionContainer
{
	padding-left: 35px;
	border-left: .7px solid #ddd;
	margin: 10px 30px;
	height: 350px;
}

#mainProductTab, #descriptionTab
{
	padding-left: 10px;
}

#productImage
{
	height: 250px;
}

#closeIcon
{
	cursor: pointer;
}

#productHeadingDiv
{
	padding-left: 10px;
}

button
{
	font-size: 13px;
}

.client-filters
{
	padding : 5px;
}

#notEmptyBasket
{
	padding: 10px 10px;
}

#emptyBasket,#emptyProductTable
{
	text-align: center;
	padding: 120px;
}

#emptyBasket .material-icons,#emptyProductTable .material-icons
{
	font-size: 3em;
}

#emptyBasket a
{
	text-decoration: none;
	color: white;
}

.errorMessage
{
	color:#A90000;
	font-size: 13px;
}

.mismatch
{
	font-style: 10px;
	color: #A90000;
	position: relative;
	top: -5px;
}

.basketItem
{
	margin-top: 15px;
}

.basketItem img
{
	width: 90px;
    height: 65px;
}

#sizeQuantityContainer
{
	padding:16px 10px;
	font-size: 13px;
}

#priceContainer
{
	font-size: 13px;
}

#basketItemsContainer
{
	height:270px;
	overflow: hidden;
}

#toOrderButtonsContainer
{
	margin-top: 7px;
	float:right;
}

#searchContainer
{
	margin-top:-10px;
	padding:0px;
}

.clothesSize td, .shoesSize td
{
	width:50px;
	margin-right: 2px;
	text-align: center;
	padding:0 !important;
}

#createProductButton
{
	float:left;
}

#stockManagement
{
	padding-top: -10px;
	margin-top: 25px;
	height: 150px;
}

#editStock
{
	margin-top: -20px;
}

#stockPanel,#addToStock
{
	margin-top: 10px;
}

#hiddenEditStock
{
	margin-top: -18px;
}

#stockResponse
{
	font-size: 12px;
}

#stock
{
	height: 300px;
}

#stockTable th,#stockTable td
{
	text-align: center;
}

#rightPanel
{
	/*margin-top: 30px;*/
}

#createProductPageContent
{
	margin-top: -10px;
}

#thumbnailOrder
{
	 padding-top: 8px;
  padding-bottom: 8px;
  color: #777;
  text-align: left;
}

.accessMessage
{
	font-size: 13px;
}
/*#stock>h3>small
{
	margin-top: 0;
}*/

.connectionLink
{
	height: 20px;
    margin-top: -8px;
}

.userIcon
{
	position: relative;
	top: 8px;
	color:#EEE;
}

.slide-image
{
	width : 825px !important;
	height : 300px !important;
}

.categoryWelcome
{
	margin:10px 5px;
	height:70px;
	text-align:center;
}

.categoryWelcome img
{
	margin-top: 10px;
	height:20px;
	width: 20px;
}

#brandsContainer img
{
	cursor:pointer;
	margin-top: 10px;
    width: 159px;
}

#sportsContainer img
{
	margin: 18px 25px;
    width: 80px;
}

#OrdersList
{
	padding:20px 20px;
}

#ordersTable
{
	margin-top: 30px;
}

#ordersTable .mainRow
{
	cursor:pointer;
}

.orderPreview
{
	display: none;
	background-color: #EEE;
/*	padding:10px 10px;
	height:100px;*/
}

.hiddenRow
{
	height:0px !important;
	margin:0px !important;
}