	#categories
{
	position:fixed;
	margin-left:90px;
}

#containedPage
{
	background-color:white;
	float:right;
}

#customerMenu .fa
{
	margin-right: 10px;
}

#customerMenu .dropdown-menu
{
	margin-top: 20px;
}

#customerMenu .divider
{
	margin-bottom: -5px;
}

#customerContainer
{
	position: relative;
    bottom: 55px;
    margin-bottom: -60px;
    height: 30px;
    margin-right: 50px;
    color:#969696;
}

#customerContainer .btn a
{
	text-decoration: none;
	color:black;
	/*float:right;*/
}

#customerContainer .fa-user
{
	color:#969696;
}

#connexionButtonDiv
{
	position: relative;
    bottom: 15px;
    right: 100px;
    height: 30px;
}

#connexionButtonDiv #connexionButton
{
	position: relative;
    top: 13px
}

#categories .panel-group
{
	margin-bottom: 1px;
}

#collapseCollectives li, #collapseIndividuals li
{
	font-size: 11px;
}

.panel-title a
{
	text-decoration: none;
	font-size: 12px;
}

.list-group a
{
	text-decoration: none;
	font-size: 11px;
	color: black;
}

#bannerContainer
{
	margin:10px 5px;
	height:220px;
	background-color: red;
}

.imagesContainer
{
	margin:10px 5px;
	height:220px;
}

.imagesContainer img
{
	height:210px;
	width:100%;
	border-radius: 10px;
	opacity: 1;
}

.curtain
{
	height:210px;
	width:100%;
	background-color: black;
	opacity: 1;
	border-radius: 10px;
}

.curtain a
{
	color:white;
	text-decoration: none;
}

.curtain p
{
	position:relative;
	top:-185px;
	color:white;
	width:100%;
	text-align: center;
	display:none;
	font-size:15px;
	padding:60px 30px;
}

li.dropdown-toggle
{
	cursor:pointer;
}

#connectionContainer input, #createAccount input, #createAccount textarea
{
	margin-bottom: 5px;
}

.necessary
{
	border-color: #a94442;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.necessary:focus
{
	border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

ul.dropdown-menu
{
    margin-right: 75px;
    margin-top: 0px;
}

